[includeIf "gitdir/i:~/code/"]
    path = .gitconfig_personal
[includeIf "gitdir/i:~/.dotfiles/"]
    path = .gitconfig_personal
[includeIf "gitdir/i:~/work/"]
    path = .gitconfig_work
[alias]
    st = status
    ci = commit
    co = checkout
[push]
    autoSetupRemote = true
[init]
    defaultBranch = master
